.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
lw_gfplot.cpp
vb_gfplot.cpp
*.rds
*.rda
*.png
*.pdf
*.docx
*.log
*.aux
*.jpg
*.jpeg
*.xlsx
*.ini
*.sso
*.par
*.exe
*.ss_new
*.dll
*.r01
*.r02
*.r03
*.rep
*.std
*.p01
*.p02
*.p03
*.eva
*.cor
*.bar
*.b01
*.b02
*.b03
*.hes
*.dep
*.cov
runnumber.ss
*_book
*csas-style
*.Rapp.history
*.b04
*.p04
*.r04
plots_Start*
init.pin
ss.psv
*.csv
*.tmp
*retrospectives*
ss3/*prof*
*-forecast-*
*_mceval
slides/dogfish-rpr-slides_cache/html/__globals
slides/dogfish-rpr-slides_cache/html/__objects
slides/dogfish-rpr-slides_cache/html/__packages
*.rdx
*.rdb
*.RData
slides/libs/header-attrs-2.28/header-attrs.js
dogfish-catch-update_cache
